.contacts {
  &__wrapper {
    @include page-grid;

    row-gap: 48px;
  }

  &__inputs {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__input {
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 40px;
    margin-bottom: 16px;
    padding-left: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &:focus {
      outline: none; /* Прибирає рамку при фокусі */
    }

    &--huge {
      height: 148px;
      border-radius: 16px;
      resize: none;
      width: 100%;

      padding-block: 14px;
      padding-inline: 16px;

      &::placeholder {
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }

      &:hover {
        border: 1px solid #d5d7de;
      }

      &:active,
      &:focus {
        border: 1px solid #292929;
      }
    }

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
    }
  }

  &__contents {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 8 / -3;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 40px;
    transition: all 0.3s;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    &:hover {
      box-shadow: 1px 4px 16px 0 #e8e8f066;
      transform: scaleX(0.9);
    }

    &:active {
      box-shadow: 1px 4px 16px 0 #e8e8f0a3;
      transform: scaleX(1.09);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
  }

  &__content {
    margin: 0;
    margin-bottom: 24px;
  }

  &__address {
    text-decoration: none;
    color: #fff;
  }

  &__info {
    text-decoration: none;
    color: #fff;
  }
}
