.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url('../images/icons/icon-burger-menu.svg');
  background-size: cover;
  text-decoration: none;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &__number {
    display: none;
    text-decoration: none;
    color: #FFF;
    transform: translate(12px, 4px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;

    &.is-visible {
      @include on-tablet {
        display: block;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  &--phone {
    background-image: url('../images/icons/icon-phone-call.svg');
  }

  &--menu {
    background-image: url('../images/icons/icon-burger-menu.svg');
  }

  &--close {
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: url('../images/icons/icon-close.svg');
  }
}
